@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&family=Nunito+Sans:wght@200&family=Poppins:wght@200&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #030407;
}
html {
    font-size: 16px;
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}
.container {
    margin: 0px auto;
    width: 80vw;
}
.rowFlex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
nav {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
nav .logo img{
    color: #000;
    font-family: "IBM Plex Serif";
    width: 200px;
    height: 150px;
}
nav .menu {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin-top: -25px;
}
nav .menu li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: "Nunito Sans";
    transition: all 0.5s ease-in-out;
    font-size: 25px;
    color: white;
}
nav .menu li a:hover {
    color: #00ff11;
}
.header {
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
}
.header-img {
    overflow: hidden;
}
.header-img img {
    transition: all 0.5s ease-in-out;
}
.header-img:hover img {
    transform: scale(1.3);
}
.header-img img {
    max-width: 100%;
}
.header-info {
    padding: 20px;
    width: 50%;
}
.header-info span {
    color: #fff;
}
.header-info h1 {
    margin: 20px 0px;
    font-family: "IBM Plex Serif";
}
.header-info h1 a {
    text-decoration: none;
    color: #09ff01;
}
.header-info p {
    line-height: 1.8;
    font-family: Poppins;
    color: #9c9c9c;
}
header .header-news {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #73ff00;
    padding: 5px;
}
header .header-news button {
    background-color: #fff;
    border: 1px solid #fff;
    margin-right: 30px;
    color: #c31815;
    padding: 10px;
    font-family: Poppins;
    animation: anime 1s ease-in-out 2s infinite forwards;
}
header .header-news p {
    color: #fff;
    font-family: Poppins;
}

/*****  main Section ******/
.main {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}
.news {
    width: 80%;
    margin-left: 150px;
}
.news h2 {
    background-color: #f1f2f3;
    padding: 15px;
    color: #2a2a2a;
    font-family: "Poppins";
}
.news .cards {
    display: flex;
    margin-top: 13px;
    justify-content: space-between;
  flex-wrap: wrap;
}
.news .cards .card {
    width: 100%;
    background-color: #f1f2f3;
}
.news .cards .card .card-body {
    padding: 15px;
}
.news .cards .card .card-body h3 {
    color: #2bff00;
    font-family: "IBM Plex Serif";
    font-size: 30px;
}
.news .cards .card .card-body p {
    line-height: 1.5;
    margin-top: 10px;
    font-family: "Nunito Sans";
    font-size: 1rem;
    color: #ffffff;
    width: 900px;
}
.news .cards .card img {
    max-width: 100%;
    height: 400px;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}
.news .cards .card:hover img {
    transform: scale(1.1);
}
.card {
    width: 18%;
    /* width: 220px; */
    border-radius: 6px;
    overflow: hidden;
    background-color: #f7f4f4;
}
.card img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.card:hover {
    box-shadow: 0 2px 15px rgba(247, 246, 246, 0.05);
}
.card img:hover {
    transform: scale(1.1);
}
.card .body p {
    line-height: 1.7;
    padding: 0 15px;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 10px;
}

/* End topic Section */
/* end comment  section*/

@keyframes anime {
    0% {
        color: #000;
        font-size: 1.5rem;
    }
    100% {
        color: red;
        font-size: 1.5rem;
    }
}
/* upper footer */

/*****  main Section ******/

.news2 {
    width: 100%;
}
.news2 h2 {
    background-color: #f1f2f3;
    padding: 15px;
    color: #2a2a2a;
    font-family: "Poppins";
    width: 100%;
}
.news2 .cards {
    display: flex;
    margin-top: 13px;
    justify-content: space-between;
}
.news2 .cards .card {
    width: 30%;
    background-color: #f1f2f3;
}
.news2 .cards .card .card-body {
    padding: 15px;
}
.news2 .cards .card .card-body h3 {
    color: #2a2a2a;
    font-family: "IBM Plex Serif";
}
.news2 .cards .card .card-body p {
    line-height: 1.5;
    margin-top: 10px;
    font-family: "Nunito Sans";
    font-size: 1rem;
}
.news2 .cards .card img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}
.news2 .cards .card:hover img {
    transform: scale(1.1);
}
/* footer */
body {
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
ul {
    list-style: none;
}
.footer {
    padding: 70px 0;
    width: 100%;
}
.footer-col {
    width: 32%;
    padding: 0 15px;
    color: #00ff22;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #00ff22;
    text-decoration: none;
    font-weight: 300;
    color: #00ff22;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: #00ff22;
    padding-left: 8px;
}
.footer-col .social-links {
    text-align: center;
}
.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    border-radius: 50%;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
    background-color: #ffffff;
}
.copyright {
    font-family: Poppins;
    font-size: 12px;
    line-height: 25px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: lightgray;
}
.about {
    margin-bottom: 10px;
}
.about a {
    font-size: 16px;
    text-transform: capitalize;
    color: #00fb19;
    text-decoration: none;
    font-weight: 300;
    color: #00fb19;
    transition: all 0.3s ease;
}
.about a:hover {
    color: #ffffff;
    padding-left: 8px;
}
.footer-logo img{
    text-align: center;
    color: #000;
    font-family: "IBM Plex Serif";
    width: 100px;
    height: 100px;
}
.wrap {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
@keyframes widthLine {
    0% {
        width: 0px;
    }
}
@keyframes popUp {
    25% {
        opacity: 0;
        transform: scale(0.5);
    }
}
@keyframes moveRight {
    0% {
        transform: translate(1000px);
    }
}
@keyframes moveLeft {
    0% {
        opacity: 0;
        transform: translate(-1000px);
    }
}
@media (max-width: 450px){
    .main .news .cards{
        width: 400px;
        margin-left: -150px;
    }
    .main .news .cards .card-body p{
        width: 530px;
    }
    .main .news h2{
        margin-left: -150px;
        width: 400px;
    }
}

@media (min-width: 450px) and (max-width: 600px) {
    html {
        font-size: 12px;
    }
    .container {
        width: 100vw;
    }
    .newsImg {
        height: 250px;
    }
    .newsTitle {
        margin: 30px 0 15px 0;
        width: 80%;
    }
    .wrap {
        flex-direction: column;
        align-items: flex-start;
    }
    .card,
    .topic h2 {
        width: 100%;
        margin: 25px;
    }
    .topic h2 {
        font-size: 2rem;
    }
    .card .body p {
        font-size: 1.9rem;
    }
    .main .news .cards{
        width: 550px;
        margin-left: -150px;
    }
    .main .news .cards .card-body p{
        width: 530px;
    }
    .main .news h2{
        margin-left: -150px;
        width: 550px;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    html {
        font-size: 14px;
    }

    .container {
        width: 100vw;
    }

    .newsImg {
        height: 250px;
    }
    .wrap {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    .card,
    .topic h2 {
        width: 100%;
        margin: 25px;
    }
    .topic h2 {
        font-size: 2rem;
    }
    .card .body p {
        font-size: 1.9rem;
    }
}
/** Responsive ***/
@media (min-width: 900px) and (max-width: 1247px) {
    .header-info {
        width: 100%;
    }
}
@media (max-width: 900px) {
    body {
        overflow-x: hidden;
    }
    .container {
        overflow: hidden;
        width: 100vw;
        padding: 0px 25px;
    }
    nav .menu {
        display: none;
    }
    nav {
        flex-wrap: wrap;
    }
    .header {
        display: block;
    }
    .header-info {
        width: 100%;
    }
    header .header-news {
        display: block;
        width: 100%;
    }
    header .header-news button {
        margin-left: 115px;
        padding: 5px;
    }
    header .header-news p {
        text-align: center;
        margin-top: 10px;
    }
    .main {
        display: block;
        padding-top: 20px;
    }
    .news,
    .news2 {
        width: 100%;
    }
    .news .cards,
    .news2 .cards {
        display: block;
    }
    .news .cards .card,
    .news2 .cards .card {
        width: 100%;
        margin: auto auto 15px auto;
    }
    .blogs {
        width: 100%;
    }
}
